img {
  display: block;
  position: absolute;
  z-index: 0;
  max-width: none;
  width: 100%; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif; }

.instructions {
  position: absolute;
  top: 10%;
  z-index: 20000; }

.group {
  width: 80%;
  background-color: #222222;
  margin: 0 auto;
  padding: 0;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 5px 10px #000000;
  -webkit-box-shadow: 0px 5px 10px #000000;
  -moz-box-shadow: 0px 5px 10px #000000; }

.instructions p,
.instructions h1,
.instructions h2,
.instructions h3,
.instructions h4,
.instructions h5,
.instructions h6 {
  color: #558ac8;
  margin: 0 auto;
  padding: 0;
  text-align: center; }

.inst-para {
  background-color: #eeeded;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000; }

.inst-para p {
  text-align: left;
  color: #222222; }

.background {
  overflow: hidden;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%; }

.back-black {
  position: fixed;
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1; }

.something {
  color: red; }
